<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd/MM/yyyy HH:mm:ss} [%-5level] [%thread] [%logger] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.contaazul.robo" level="DEBUG" />


    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>